body {
    padding-top: 48px; /* Navbar height */
    font-family: "noto";
}
.content {
    padding-top: 15px; /* Match Navbar height */
}
.sidebar {
    height: 100vh;
    position: fixed;
    top: 48px; /* Navbar height == body.padding-top:48px */
    left: 0;
    bottom: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f8f9fa;
    /* border-right: 1px solid #dee2e6; */
}
.main-content {
    margin-left: 250px;
    padding: 20px;
}

.navbar-nav.mr-auto {
    display: none;
}

.card {
    margin-bottom: 20px;
    padding: 15px;
}

.card:hover {
    border: 1px solid #4ea1fa;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
    }
    .main-content {
        margin-left: 0;
    }
    .navbar-nav.mr-auto {
        display: block !important;
        /* display: none; */
    }
    .navbar-nav.ml-auto {
        display: block !important;
        /* display: none; */
    }
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
}
.table-responsive {
    overflow-y: auto;
    white-space: nowrap;
    text-overflow: ellipsis;

    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0.25rem;
}
.table-responsive thead th {
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 100;
}
.table-responsive tbody tr:hover {
    background: lightgrey !important;
}
.table-responsive thead tr,
.table-responsive tbody tr {
    vertical-align: middle;
    text-align: center;
}

.table-responsive .table td,
.table-responsive .table th {
    border-top: none;
}

/* .table-responsive {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0.25rem;
} */

/* 디폴트 테이블 세로 크기, 각각의 테이블에 적용하려면 아래의 코드를 사용하면 된다. */
.table-responsive {
    height: 300px;
}

.nav-item.selector:hover {
    background-color: #88bbf1;
    color: white;
    border-radius: 0.25rem;
    a {
        color: white;
    }
}

.nav-item .nav-link {
    /* font-size: larger; */
    font-size: 20px;
}

.nav-item a.nav-link {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 7px 16px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.nav-item div.active {
    background-color: #4ea1fa;
    color: white;
    border-radius: 0.25rem;
    /* -webkit-transition: all 0.1s;
    transition: all 0.1s; */
    /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
    a {
        color: white;
    }
}

/* ... */

/* li a:hover:not(.active) {
    background-color: #555;
    color: white;
} */

/* 2단계 메뉴의 메인 메뉴 선택 시 아이콘 변경 */
.nav-item .nav-link[aria-expanded="false"] .submenu-icon::after {
    content: "\f0d7";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900; /* Fix version 5.0.9 */
    display: inline;
    text-align: right;
    padding-left: 10px;
}

/* 2단계 메뉴의 메인 메뉴 선택 시 아이콘 변경 */
.nav-item .nav-link[aria-expanded="true"] .submenu-icon::after {
    content: "\f0da";
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900; /* Fix version 5.0.9 */
    display: inline;
    text-align: right;
    padding-left: 10px;
}
